/* css related to page divider */
.main-content{
    width: 50%;
    float: left;
}

.wrapper, html, body{
    height: 100%;
    overflow: hidden;
}

.divider{
    position:absolute;
    left:50%;
    top:0%;
    bottom:0%;
    border-left:3px solid black;

}

.video{
    width: 50%;
    float: left;
    text-align: center;
}

.backpage {

    border: 1px solid black;
    background-color: lightblue;
    position: relative;
    top: 20px;

}

.nextpage {

    border: 1px solid black;
    background-color: lightblue;
    position: relative;
    top: 20px;
    left: 80%;

}

.topright {
    position: absolute;
    top: 40px;
    right: 40px;

}

.right-table{
    position: absolute;
    top: 90px;
    right: 100px;
}

.right{
    position: absolute;
    top: 5px;
    right: 180px;
}

