
/* .center used to format login-form*/
.center {
  position: absolute;
	width: 340px; /*size of the div */
	height: 230px;
    left: 550px; /*location of the div */
    top: 110px;
	background: #F0F8FF;

}

.upload-btn {
	position: absolute;
	width: 100px;
	height: 40px;
    top: 60px;
	left: 350px;
	background: #6ECE3B;
	border-radius: 3px;
	text-align: center;
	line-height: 40px;
	font-size: 14px;
	box-shadow: 0 2px 0 0 #498C25;
	cursor: pointer;
	outline:0;


}

.submit-btnbtn {
	position: absolute;
	width: 100px;
	height: 40px;
    top: 110px;
	left: 350px;
	background: #6ECE3B;
	border-radius: 3px;
	text-align: center;
	line-height: 40px;
	font-size: 14px;
	box-shadow: 0 2px 0 0 #498C25;
	cursor: pointer;

}

.upload-img {
    position: absolute;
	width: 220px;
	height: 160px;
    top: 20px;
	left: 50px;
}


.border {
  border-style: solid;
  border-width: 1px;
  border-color: #FFFFFF;
}

.img_identifier_number{

    position: absolute;
    font-size:12px;
    background-color:teal;
    width:14px;
    height:14px;
    color:#fff;
        top: 165px;
        left:180px;
}

.img_identifier {
    display: inline-block;
    position: absolute;
    width:64px;
}

input[type="file"] {
    display: none;
}



/* delete button notes */

.object_delete {
    position: absolute;
        top: 2px;
        right: 2px;
        z-index: 100;
        background: url(../pics/clear.png) no-repeat;
        background-size: cover;
        display: inline-block;
        width: 20px;
        height: 20px;
        opacity: 0.5;

        &:hover {
            opacity: 0.7;
        }
}

.user-answer-input{

    display:block;
    display:block;
    border: none;
    outline: 0;
    padding: 12px 12px;
    background: #edf1f2;
    border-radius: 20px;
    width: 90%;
    height: 70px;
    margin:0;
    font-family:verdana;
    font-size: 20px;

 }

 .user-answer-input:focus{
    border: #009900 solid;
    box-shadow: 0 0 5px rgba(0, 153, 0, 1);
    width: 90%;
    height: 70px;
    outline: 0 !important;
    font-family:verdana;
    font-size: 20px;
}


.user-input-submit-button {
    display: block;
    margin: 0 auto;
    border-radius: 20px;
    padding: 10px 22px;
    font-family: verdana;
    font-size: 16px;
    background-color: #edf1f2;
    color: #336699;
    outline:0; /* blue border around it */
    cursor: pointer;
}

.user-input-submit-button:hover {
    background-color: #33cccc;
    border-color: #33cccc;
    outline:0;

}

.user-input-submit-button:active {
   background-color: #33cccc;
   border-color: #33cccc;
   outline:0;
}


.user-login-input{
    border: none;
    outline: 0;
    padding: 12px 12px;
    background: #edf1f2;
    border-radius: 20px;
    width: 90%;
    height: 20px;
    margin:0;
    font-family:verdana;
    font-size: 20px;
 }

 .user-login-input:focus{
    border: #009900 solid;
    box-shadow: 0 0 5px rgba(0, 153, 0, 1);
    width: 90%;
    height: 20px;
    outline: 0 !important;
    font-family:verdana;
    font-size: 14px;
 }

/* Bordered form
form {
    border: 3px solid #f1f1f1;
} */

/* Set a style for all buttons
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
} */


/* Add padding to containers */
.container {
    padding: 16px;
}

/* confirmation page for user input */

/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_modal2 */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 10px; /* Location of the box */
    left: 10px;
    top: 50px;
    width: 90%; /* Full width */
    height: 50%; /* Full height */
    /* overflow: auto;  Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    border-radius: 60px; /* round the edges */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    top: 130px;
    width: 80%;
    border-radius: 50px;
    /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);*/
}

/* The Close Button */
.modal-close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #33cccc;
    border-radius: 50px;


}

/* modal css ends here */

#gallery-view-only{
    display: flex;
    justify-content: space-between;
}











