
.center {
  position: absolute;
	width: 500px; /*size of the div */
	height: 200px;
    left: 870px; /*location of the div */
    top: 110px;
	background: #F0F8FF;

}

.upload-btn {
	position: absolute;
	width: 100px;
	height: 40px;
    top: 60px;
	left: 350px;
	background: #6ECE3B;
	border-radius: 3px;
	text-align: center;
	line-height: 40px;
	font-size: 14px;
	box-shadow: 0 2px 0 0 #498C25;
	cursor: pointer;

}

.submit-btn {
	position: absolute;
	width: 100px;
	height: 40px;
    top: 110px;
	left: 350px;
	background: #6ECE3B;
	border-radius: 3px;
	text-align: center;
	line-height: 40px;
	font-size: 14px;
	box-shadow: 0 2px 0 0 #498C25;
	cursor: pointer;

}

.upload-img {
    position: absolute;
	width: 220px;
	height: 160px;
    top: 20px;
	left: 50px;
}


.border {
  border-style: solid;
  border-width: 1px;
  border-color: #FFFFFF;
}

.img_identifier_number{

    position: absolute;
    font-size:12px;
    background-color:teal;
    width:14px;
    height:14px;
    color:#fff;
        top: 165px;
        left:180px;
}

.img_identifier {
    display: inline-block;
    position: absolute;
    width:64px;
}

input[type="file"] {
    display: none;
}

