<h1>Activity Index</h1>

<div id="activity-index">
    <h2>Page 1</h2>
    <ul>
        <li class="video">
            <a href="#" class="video" data-id="1" data-video-url="https://www.youtube.com/embed/qBoF-3Z-QuI"><span></span>Video #1</a>
        </li>
        <li class="brainstorm">
            <a href="#" class="brainstorm" data-title="brainstorm1" data-id="1" data-description="Brainstorm description"><span></span>Brainstorm #1</a>
        </li>
    </ul>
    <h2>Page 2</h2>
    <ul>

        <li class="moreinfo">
            <a href="#" class="moreinfo" data-id="1"><span></span>More Information</a>
        </li>
        <li class="table">
            <a href="#" class="table" data-id="1"><span></span>Table/Graph #1</a>
        </li>
         <li class="gallery">
             <a href="#" class="gallery" data-id="1" data-view="class"><span></span>Gallery #1</a>
        </li>
    </ul>

    <h2>Page 2</h2>
    <ul>

        <li class="moreinfo">
            <span></span>
           <a href="#" class="convert" data-id="2">inches per second to meters per second</a>
        </li>
         <li class="gallery">
             <a href="#" class="gallery" data-id="2" data-view="class"><span></span>Gallery #2</a>
        </li>
    </ul>





    <!--<h2>Page 4</h2>-->
    <!--<ul>-->
        <!--<li class="video"><a href="#"><span></span>Video #1</a></li>-->
        <!--<li class="gallery"><a href="#"><span></span>Gallery #1</a></li>-->
        <!--<li class="brainstorm"><a href="#"><span></span>Brainstorm #1</a></li>-->
        <!--<li class="brainstorm"><a href="#"><span></span>Brainstorm #1</a></li>-->
        <!--<li class="gallery"><a href="#"><span></span>Gallery #1</a></li>-->
        <!--<li class="video"><a href="#"><span></span>Video #1</a></li>-->
    <!--</ul>-->

    <!--<h2>Page 7</h2>-->
    <!--<ul>-->
        <!--<li class="video"><a href="#"><span></span>Video #1</a></li>-->
        <!--<li class="gallery"><a href="#"><span></span>Gallery #1</a></li>-->
        <!--<li class="brainstorm"><a href="#"><span></span>Brainstorm #1</a></li>-->
    <!--</ul>-->

    <!--<h2>Page 10</h2>-->
    <!--<ul>-->
        <!--<li class="video"><a href="#"><span></span>Video #1</a></li>-->
        <!--<li class="gallery"><a href="#"><span></span>Gallery #1</a></li>-->
        <!--<li class="brainstorm"><a href="#"><span></span>Brainstorm #1</a></li>-->
    </ul>
</div>