<h1>Activity Feed</h1>

<ul class="feed">
    <li class="update">
        <div class="user-image">
            <img src="" alt="">
            <span>John</span>
        </div>
        <p>
            John just added a new image to <a>Gallery #7</a> on page 12.
        </p>
    </li>
    <li class="update">
        <div class="user-image">
            <img src="" alt="">
            <span>Mary</span>
        </div>
        <p>
            Mary just added a new idea to <a>Brainstorm #2</a> on page 2
        </p>
    </li>
    <li class="message">
        <div class="user-image">
            <img src="" alt="">
            <span>Rogerio</span>
        </div>
        <p>
            Does anyone know how to do activity 3? I’m finding it very difficult. I really need help with it because It’s due tomorrow and I havne’t figured it out yet
        </p>
    </li>
    <li class="message self">
        <div class="user-image">
            <img src="" alt="">
            <span>Ceni</span>
        </div>
        <p>
            Have you tried google?
        </p>
    </li>
</ul> 

<div id="write-message">
     <input type="text" name="" id="" placeholder="Type a message to your class here">
     <a href=""></a>
</div>