<h1>Activity Index</h1>

<div id="activity-index">
    <h2>Page 1 </h2>
    <ul>
        <li class="gallery">
             <a href="#" class="gallery" data-id="1" data-view="class"><span></span>Gallery #1</a>
        </li>
        <li class="gallery">
             <a href="#" class="gallery" data-id="1" data-view="comment"><span></span>Gallery #1 Group #1</a>
        </li>
        <li class="gallery">
             <a href="#" class="gallery" data-id="1" data-view="comment"><span></span>Gallery #1 Group #2</a>
        </li>
    </ul>
    <h2>Page 2</h2>
    <ul>
        <li>
            <a class="brainstorm" data-title="brainstorm1" data-id="1" data-description="Brainstorm description">Brainstorm Notes </a>
        </li>

    </ul>

    <h2>Page 3</h2>
    <ul>
         <li class="table">
            <a href="#" class="table" data-id="1">Table/Graph</a>
        </li>
    </ul>



    <h2>Page 4</h2>
    <ul>
        <li>
            <a href="#" class="table" data-id="2">Table/Graph</a>
        </li>
    </ul>


    <h2>Page 5</h2>
    <ul>
        <li>
            <a href="#" class="table" data-id="2">Table/Graph</a>
        </li>
        <li>
            <a href="#" class="gallery" data-id="2" data-view="class">Visit the Gallery.</a>
        </li>
    </ul>

    <h2>Page 6</h2>
    <ul>
        <li>
            <a class="brainstorm" data-title="brainstorm1" data-id="2" data-description="Brainstorm description">Share your responses.</a>
        </li>
        <li>
          <a href="#" class="table" data-id="3">Table/Graph</a>
        </li>
    </ul>

<h2>Page 7</h2>
    <ul>
        <li>
            <a href="#" class="multQues" data-id="2" >Answer Questions</a>
        </li>
    </ul>









</div>