<h1>Activity Feed</h1>

<ul class="feed">
    <li class="update">
        <div class="user-image">
            <span>John</span>
        </div>
        <p>
            John just added a new image to <a>Gallery #7</a> on page 12.
        </p>
    </li>
    <li class="update">
        <div class="user-image">
            <span>Mary</span>
        </div>
        <p>
            Mary just added a new idea to <a class="brainstorm" data-title="brainstorm2">Brainstorm #2</a> on page 2

        </p>
    </li>
    <li class="message">
        <div class="user-image">
            <span>Rogerio</span>
        </div>
        <p>
            Does anyone know how to do activity 3? I’m finding it very difficult. I really need help with it because It’s due tomorrow and I haven’t figured it out yet
        </p>
    </li>
    <li class="message self">
        <div class="user-image">
            <span>Ceni</span>
        </div>
        <p>
            Have you tried google?
        </p>
    </li>
</ul> 

<div id="write-message">
     <input type="text" name="msg-text" id="" placeholder="Type a message to your class here">
     <input type="hidden" name="username" value={{ user.get_username }}>
     <a href="" id="msg-send-btn"></a>
</div>