<h1>Activity Index</h1>

<div id="activity-index">
    <h2>Page 1</h2>
    <ul>
        <li class="gallery">
             <a href="#" class="gallery" data-id="1" data-view="class"><span></span>Gallery #1</a>
        </li>
        <li class="gallery">
             <a href="#" class="gallery" data-id="1" data-view="comment"><span></span>Gallery #1 Group #1</a>
        </li>
        <li class="gallery">
             <a href="#" class="gallery" data-id="1" data-view="comment"><span></span>Gallery #1 Group #2</a>
        </li>
    </ul>
    <h2>Page 2</h2>
    <ul>

        <li class="table">
            <a href="#" class="table" data-id="1"><span></span>Table/Graph #1</a>
        </li>

    </ul>

    <h2>Page 3</h2>

    <h2>Page 4</h2>

    <h2>Page 5</h2>

    <h2>Page 6</h2>









</div>