<div id="brainstorm-header">
    <h1></h1>

    <p>
        Brainstorm ideas on how we know an object is moving.
    </p>
</div>

<div id="idea-workspace">
    <div class="idea" data-noteID="1" style="left: 20px; top: 150px">
        First idea
        <!--<input type="hidden" name="note-id" value="1"/>-->
    </div>
    <div class="idea" data-noteID="2" style="left: 40px; top: 250px">
        Second idea
        <!--<input type="hidden" name="note-id" value="2"/>-->
    </div>
    <div class="idea" data-noteID="3" style="left: 60px; top: 350px">
        Third idea
        <!--<input type="hidden" name="note-id" value="3"/> -->
    </div>
</div>

<div id="new-idea" class="button">
    <a class="toggle"></a>
    <form>
        <h3>New Idea</h3>

        <textarea name="" id="" cols="30" rows="10"></textarea>
        <p>
            Choose color: 
            <a class="colorpicker active" style="background: #8FC7EC;"></a>
            <a class="colorpicker" style="background: #F9C72D;"></a>
            <a class="colorpicker" style="background: #F8C1C7;"></a>
        </p>
        <p>
            <input type="checkbox" name="hidename" id="hidename"> <label for="hidename">Hide your name</label>
        </p>
        <a class="btn">Submit</a>
    </form>
</div>


