{% load static %}
<div id="gallery-view">

    <div id="gallery-panel" class="gallery-panel">
         <h1></h1>

        <p id="gallery-description">
            Take a picture of your solution. Upload the picture in your gallery.
        </p>

        <!--<h2>Your submission</h2>-->
        <a id="openCamera" href="https://hcilabasu.pythonanywhere.com/camera/" target="_blank">Open Camera</a>

        <div id="gallery-view-only">
            <div>
                 <a id="allSubmission" class="gallery-submission" href="#">All Submission</a>  <!--<h2>defined in gallery.js</h2>-->
            </div>
            <div>
                 <a id="mySubmission" class="gallery-submission" href="#">My Submission</a>  <!--<h2>defined in gallery.js</h2>-->
            </div>
        </div>


        <div id="gallery-user-submission" class="section">
            <div>
                <img id="default" src="{% static 'pics/default.png' %}" alt="">
                <!--<span class="badge"></span>-->
            </div>

            <form id="upload-img" enctype="multipart/form-data" method="post" action="">
                <label for="file-upload" class="btn">
                    Choose
                </label>
                <input type="file" name="gallery_img" class="btn" id="file-upload"/>
                <input type="hidden" name="act-id" value=""/> <!--pass gallery id number from digTextBook.js-->
                <input type="hidden" name="group-id" value=""/> <!--pass group id number from distextBook.js/gallery.js-->
            </form>

        </div>

        <h2 id="gallery-group-heading">All submissions</h2>

        <ul id="gallery">
            <!--<li>-->
                <!--<img  src="https://tinyurl.com/y72rf9lz" alt="">-->
                <!--<span class="badge">3</span>-->
            <!--</li>-->

        </ul>
    </div>

    <div id="single-image-view" class="gallery-panel" style="display:none">
        <div class="verticalDivider">
            <div class="row">
                <a id="backToGallery" href=""></a> <!--functionality defined in gallery.js; css defined in digTextBook.less-->
                <div class="section">
                    <a href="" class="previous-image"></a>
                    <a href="" class="next-image"></a>
                    <input type="hidden" name="image-index" value=""/>
                    <input type="hidden" name="image-db-pk" value=""/>
                </div>
            </div>

            <div class="row">
                <ul id="image-feed" class="feed">
                </ul> 
                    
            </div>
        </div>
        <div class="message-input">
            <input type="text" id="image-msg-text" name="image-msg-text" placeholder="Comment on this picture">
            <input type="hidden" name="username" value={{ user.get_username }}>
            <a href="" id="image-msg-send-btn"></a>
        </div>
    </div>
</div>

