{% load static %}
<!doctype html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>2.1 Constant Velocity</title>

    <!-- edit by ishrat-start -->

    <link rel="stylesheet" type="text/css" href="{% static 'css/gallery.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/digTextBook.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>

    <!-- edit by ishrat-end -->

</head>
<body>
<div class="wrapper">
    <div class="main-content">

        <h1 id="21-constant-velocity">2.1 Constant Velocity</h1>
        <h2 id="activity-1--how-fast">Activity 1- How Fast?</h2>
        <h3 id="pre-lab-discussion1">Pre-lab discussion</h3>
        <ol>
            <li>Observe a moving object, (ex, toy car, remote operated toy, or even a video clip <img width="20px"
                                                                                                      src="{% static 'pics/Video-Icon.png' %}"
                                                                                                      data-url="https://www.youtube-nocookie.com/embed/e4N882MPTPQ?showinfo=0"
                                                                                                      onclick="showVideo(this)">
                of an object moving). Ask yourself, “How do you know this object is moving?”
            </li>
            <li>Share some of your ideas with a partner. Then share some of your ideas with the whole class the the Chat
                function and brainstorm.
            </li>
            <li>Now watch the battery operated vehicle run on the floor or table. How could we figure out this toy car’s
                speed?
            </li>
            <li>Conduct a class brainstorm and record their ideas at the front of the room.</li>
            <li>Conduct a class brainstorm and upload your picture in the gallery.</li>
            <li>Take a picture <img width="20px" src="{% static 'pics/camera.png' %}"></li>
            <li>Visit the Gallery. <img width="20px" src="{% static 'pics/gallery.png' %}" data-gallery-id="1" onclick="showGallery(this)"></li>
        </ol>

        <h3 id="pre-lab-discussion2">Apparatus:</h3>
        <ui>
            <li>Toy battery powered car that travels at constant speed
                (alternatively have someone walk at a roughly constant pace)
            </li>
            <li>Stopwatch</li>
            <li>Meter stick</li>
            <li>Masking tape or whiteboard markers</li>
            <li>Copies of 2.1 Act 1 How Fast worksheet</li>
            <li>Copies of 2.2 Act 1 Number Line Speed</li>
            <li>Copies of WS2 Terms for How Far</li>
        </ui>

        <input width="" type="submit" value="Next" class="nextpage" onClick="window.location='/next'"/>

    </div>

    <div class="divider"></div>

    <div>
        <h1 id="right_header"></h1>
        <p id="right_header_desc"></p>
    </div>

    {% if activities != "None" %}
    <!--<p>activities :: {{activities}}</p>-->
    <div id="activity_index">
        <img width="20" id="back" src="{% static 'pics/back.png'%}" onclick="window.location='/index'">
        <h1 id="act_index_header">Activity Index</h1>


        <table>
            <tr>
                <th> Page</th>
                <th> Activity Type</th>
            </tr>
            {% for activity in activities %}
            <tr>
                <th> {{ activity.page_number }}</th>
                <th> {{ activity.activity_type}}</th>
            </tr>
            {% endfor %}

        </table>
    </div>
    {% endif %}


    <div id="activity_feed">
        <img width="20px" class="topright" src="{% static 'pics/index.png' %}" onclick="showIndex()" {>

    </div>



    <div class="video" id="videoID" style="display: none;">
        <iframe width="560" height="315" id="videoFrame"
                frameborder="0"
                allow="autoplay; encrypted-media" allowfullscreen>
        </iframe>
    </div>

    <!-- div element for gallery -- start -->

    <div id="galleryID" style="display: none;">
        <div class="center border">
      <span class="img_identifier">
        <img id="default" src="{% static 'pics/default.png' %}" class="upload-img">
        <span class=img_identifier_number id="img_number"></span>
      </span>

            <!--check whether the image got uploaded http://127.0.0.1:8000/media/images/<image_file_name>-->
            <!--<form enctype= "multipart/form-data" method = "post" action = "http://hcilabasu.pythonanywhere.com/uploadImage/">-->
            <form enctype="multipart/form-data" method="post" action="http://127.0.0.1:8000/uploadImage/">
                <label for="file-upload" class="custom-file-upload upload-btn">
                    Custom Upload
                </label>
                <input id="file-upload" name="gallery_img" type="file"/>
                <input type="submit" value="submit" class="submit-btn"/>
            </form>

            <img src="" id="gallery1" width="20px" >
        </div>

        <!--{% if video != "None" %}-->
        <!--<div>-->
            <!--<p>place for gallery</p>-->
        <!--</div>-->
        <!--{% endif %}-->
    </div>

{% if user.is_authenticated %}

    <div class="logout">

        <p>User Name: {{ user.get_username }}</p>
        <a href="/logout">Logout</a>

    {% else %}
    <a href="/">Login</a>
        </div>
{% endif %}

</div>
<script src="{% static 'js/gallery.js' %}"></script>
<script src="{% static 'js/video.js' %}"></script>
<script src="{% static 'js/digTextBook.js' %}"></script>
</body>
</html>

