{% load static %}
<body >

    <div id="ka-container">
        <h1></h1>
        <div id="ka-left">
             <p id="ka-left-description">
                Visit this video (<a id="ka-form-url" href="" target="_blank" style="color:white;"></a>), take a screenshot of the thread
                 you would like to respond to and upload it.
             </p>
            <form id="ka-upload-img-form" enctype="multipart/form-data" method="post" action="">
                <label for="ka_img_upload" class="btn">Choose Screenshot</label>
                <input type="file" id="ka_img_upload" name="ka_img_name" class="btn"/>
                <input type="hidden" name="ka-act-id" value=""/>
            </form>
            <img id="ka-image" src="#" />

             <ul id="ka-gallery">

             </ul>
        </div>
        <div id="ka-right">
            <div id="ka-form-containter">
                <p>Are you answering a question or posting a question?
                </p>
                <form class="ka-form">
                    <input class="ka-radio" type="radio" name="ka-response-type" value="answer"> Answer a Question<br>
                    <input class="ka-radio" type="radio" name="ka-response-type" value="question"> Post a Question<br>
                    <p> Write your response below. Once you have completed, click the copy button to
                    copy the answer in the clipboard and go paste it in Khan Academy.</p>
                    <textarea id="KAAnswer" class="user-answer-input" name="KAAnswer" placeholder="Write something.." style="height:180px"></textarea>
                    <input id="ka-submit" type="button" value="Submit" class="user-input-submit-button">
                </form>

                 <div class="prompt-card prompt">
                    <a class="prompt-close-card"></a>
                    <!--<span id="prompt-p"></span>-->
                    <!--<img id="badge-default" src="{% static 'pics/default.png' %}" alt="">-->
                    <img id="prompt-badge-img" src="{% static 'pics/default.png' %}" alt="" >
                    <p id="prompt-p" ></p>
                 </div>


                <div id="ka-showAnsweredQues">
                        <p class="ka-answer-p" style="visibility: hidden;"></p>
                        <div class="ka-row">
                            <!--<button class="user-input-submit-button" id="ka-row-copy-button">copy answer</button>-->
                            <input id="ka-row-copy-button" type="button" value="Copy" class="ka-copy-btn">
                        </div>
                 </div>

            </div>


            <!--<div id="add-new-ka-post">-->
                <!--<a class="moreinfobtn"></a>-->
            <!--</div>-->



        </div>

         <!-- The Modal -->
            <div id="moreInfoModal" class="talkmodal">
                 <span class="modal-close">&times;</span>
                    <h2>Talk Moves</h2>
                      <h4>Ask a Question</h4>
                      <ul style="margin-top:-20px">
                        <li>I’m confused about... </li>
                        <li>What do you mean by...?</li>
                        <li>Why did you...instead of...?</li>
                      </ul>

                      <h4>Give some Feedback</h4>
                      <ul style="margin-top:-20px">
                        <li>I think your answer is right/wrong, because... </li>
                        <li>I agree/disagree with your idea of ..., and I think .. </li>
                        <li>You mentioned..., I think that this point is important, because…</li>
                      </ul>

                      <h4>Explain your thinking</h4>
                      <ul style="margin-top:-20px">
                        <li>If I compare your answer to my answer, I think... </li>
                        <li>I think...because... </li>
                        <li>To explain what I mean, this is an example,...</li>
                        <li>You did… but another way to do it is...</li>
                      </ul>


              <!-- Modal content -->
              <!--<div class="modal-content">-->
                <!--<div class="modal-header">-->

                  <!--<h2 style="text-align: center"></h2>-->
                <!--</div>-->

              <!--</div>-->

            </div>
    </div>




</body>
</html>