<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

</head>
<body >
    <div id="ka-container">
        <div id="ka-left">

            <form id="ka-upload-img-form" enctype="multipart/form-data" method="post" action="">
                <label for="ka_img_upload" class="btn">Choose Screenshot</label>
                <input type="file" id="ka_img_upload" name="ka_img_name" class="btn"/>
            </form>
            <img id="blah" src="#" />

        </div>

        <div id="ka-right">
             <h1> Answer Questions on Khan Academy</h1>

        <div id="ka-form-containter">
            <form class="ka-form" >
                <textarea id="KAAnswer" name="KAAnswer" placeholder="Write something.." style="height:180px"></textarea>
                <!--<input id="ka-submit" type="button" value="Submit" class="user-input-submit-button">-->
            </form>
        </div>

        <div id="ka-showAnsweredQues">
            <h3>Your answer</h3>
            <ul>
                <li>
                    <p class="ka-answer-p">Sample Answer</p>
                    <div class="ka-row">
                        <button class="ka-row-copy-button">copy</button>
                    </div>
                </li>
            </ul>

        </div>

        </div>
    </div>




</body>
</html>