<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

</head>
<body >
    <h1> </h1>
    <div id="ka-container">
        <div id="ka-left">
             <p id="ka-left-description">
                Visit  this video (<a id="ka-form-url" href="" target="_blank" style="color:white;"></a>), take a screenshot of the thread
                 you would like to respond to and upload it.
             </p>
            <form id="ka-upload-img-form" enctype="multipart/form-data" method="post" action="">
                <label for="ka_img_upload" class="btn">Choose Screenshot</label>
                <input type="file" id="ka_img_upload" name="ka_img_name" class="btn"/>
                <input type="hidden" name="ka-act-id" value=""/>
            </form>
            <img id="ka-image" src="#" />

             <ul id="ka-gallery">

             </ul>
        </div>


        <div id="ka-right">


            <div id="ka-form-containter">
                <p>Are you answering a question or posting a question?
                </p>
                <form class="ka-form">
                    <input class="ka-radio" type="radio" name="ka-response-type" value="answer"> Answer a Question<br>
                    <input class="ka-radio" type="radio" name="ka-response-type" value="question"> Post a Question<br>
                    <p> Write your response below. Once you have completed, click the copy button to
                    copy the answer in the clipboard and go paste it in Khan Academy.</p>
                    <textarea id="KAAnswer" name="KAAnswer" placeholder="Write something.." style="height:180px"></textarea>
                    <!--<input id="ka-submit" type="button" value="Submit" class="user-input-submit-button">-->
                </form>


                <div id="ka-showAnsweredQues">
                        <p class="ka-answer-p" style="visibility: hidden;"></p>
                        <div class="ka-row">
                            <button class="user-input-submit-button" id="ka-row-copy-button">copy answer</button>
                        </div>
                 </div>

            </div>

            <!--<div id="ka-showAnsweredQues">-->
                <!--<h3>Your answer</h3>-->
                <!--<ul>-->
                    <!--<li>-->
                        <!--&lt;!&ndash;<p class="ka-answer-p">Sample Answer</p>&ndash;&gt;-->
                        <!--<div class="ka-row">-->
                            <!--<button class="ka-row-copy-button">copy</button>-->
                        <!--</div>-->
                    <!--</li>-->
                <!--</ul>-->

            <!--</div>-->

            <!--<div id="add-new-ka-post">-->
                <!--<a class="add-ka-a"></a>-->
            <!--</div>-->

        </div>
    </div>




</body>
</html>