{% load static %}
<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>LOGIN</title>

        <link rel="stylesheet" type="text/css" href="{% static 'css/digTextBook.css' %}">
    </head>

    <body>

        <form id="login-form" method="post"
              action="/login" class="center">
            {% csrf_token %}
            <table >
                <tr>
                    <td><label for="id_username">Username</label></td>
                    <td><input id="id_username" name="username"
                               type="text" ></td>
                </tr>
                <tr>
                    <td><label for="id_password">Password</label></td>
                    <td><input id="id_password" name="password"
                               type="password"></td>
                </tr>
            </table>





            <input type="submit" value="Login"/>
            <input type="hidden" name="next" value="{{ next }}"/>
        </form>

    </body>

</html>