{% load static %}
<h1>  </h1>
<h4> </h4>
<div>
    <!--page 5 input div-->
    <div id="user-input-page5-input1">
        <p> Predict the order of the volume from least to greatest - which one could you fill with the most “stuff”? Least? </p>
        <textarea class="user-answer-input" rows="4" cols="50" name="page5-input1" required> </textarea> <br/><br/>
        <input id="page5-input1" type="submit" value="Submit" class="user-input-submit-button">
    </div>

     <!--page 7 input divs (4)-->

    <div id="user-input-page7-input1">
        <ol>
            <li>
                <p> What’s the ratio of circumference/diameter? </p>
                <textarea class="user-answer-input" rows="4" cols="50" name="page7-input1" required> </textarea>
            </li>
             <li>
                <p> What’s the ratio of cone to hemisphere? </p>
                <textarea class="user-answer-input" rows="4" cols="50" name="page7-input2" required> </textarea> <br/>
            </li>
            <li>
                <p> What’s the ratio of cone to cylinder? </p>
                <textarea class="user-answer-input" rows="4" cols="50" name="page7-input3" required> </textarea> <br/>
                <input id="page7-input1" type="submit" value="Submit" class="user-input-submit-button">
            </li>

        </ol>

    </div>

      <div id="user-input-page7-input2">
        <ol>
             <li>
                <p>What were your big take-aways about cylinders, cones, and spheres? </p>
                <textarea class="user-answer-input" rows="8" cols="50" name="page7-input4" required> </textarea>
                <!--<input id="page7-input3" type="submit" value="Submit" class="user-input-submit-button">-->
            </li>
             <li>
                <p>How did what you saw in the comments compare to your understanding? </p>
                <textarea class="user-answer-input" rows="8" cols="50" name="page7-input5" required> </textarea> <br/><br/>
                <input id="page7-input2" type="submit" value="Submit" class="user-input-submit-button">
            </li>
        </ol>

    </div>


    <div id="user-input-page12-input1" style='display:none'>

       <ol>
           <li><p>Describe 3 things you learned this week. </p>
               <textarea class="user-answer-input" rows="8" cols="50" name="page12-input1" required> </textarea>
           </li>
           <li>
               <p>How has your understanding of cones, cylinders, and hemispheres changed this week? </p>
                <textarea class="user-answer-input" rows="8" cols="50" name="page12-input2" required> </textarea>
           </li>
           <li>
                <p>How have your experiences and conversations with others helped you develop a better understanding and how have they helped others?</p>
                <textarea class="user-answer-input" rows="8" cols="50" name="page12-input3" required> </textarea>
           </li>
           <input id="page12-input1" type="submit" value="Submit" class="user-input-submit-button">

       </ol>

        <!--https://stackoverflow.com/questions/7560832/how-to-center-a-button-within-a-div-->
        <!--<input id="page10-input1" type="submit" value="Submit" class="user-input-submit-button">-->

    </div>

    <div id="page6-table" >
        <img src="{% static 'pics/page6table.png' %}" height="300" width="480">

    </div>

</div>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="modal-close">&times;</span>
      <h2 style="text-align: center"></h2>
    </div>

  </div>

</div>


