
    <div id="user-input-page6">

       <ol>
           <li>
                What does this table mean? <br/>

               <textarea class="page6-input" rows="4" cols="50" name="page6-input1"> </textarea>
           </li>
           <li>
               What does the graph mean? <br/>
                <textarea class="page6-input" rows="4" cols="50" name="page6-input2"> </textarea>
           </li>
           <li>
               Why have we chosen to organize our data in this way? <br/>
                <textarea class="page6-input" rows="4" cols="50" name="page6-input3"> </textarea>
           </li>
           <li>
                How does this help us understand our data? <br/>
                <textarea class="page6-input" rows="4" cols="50" name="page6-input4"> </textarea>
            </li>
            <li>
                How do you know if you’re looking at a proportional relationship? <br/>
                 <textarea class="page6-input" rows="4" cols="50" name="page6-input5"> </textarea>
            </li>
       </ol>

        <!--https://stackoverflow.com/questions/7560832/how-to-center-a-button-within-a-div-->
        <input id="page6-submit" type="submit" value="Submit" style="display: block; margin: 0 auto;">

    </div>

<!--{% load static %}-->


    <!--<div class="act2ques" data-quesno="act2ques1">-->

        <!--<img src="{% static 'pics/act2ques/mult1.png' %}" height="220" width="600">-->

        <!--<ol>-->
            <!--<li>Record the starting and ending locations of each car under the diagram. </li>-->
            <!--<input type="text" name="fname"><br>-->

             <!--<li>Calculate the distance traveled by the car.</li>-->
            <!--<input type="text" name="fname"><br>-->

            <!--<li>Calculate the amount of time the car traveled.</li>-->
            <!--<input type="text" name="fname"><br>-->


        <!--</ol>-->

        <!--<p> Multiple choice question asking students to select the graph that best matches their work. Once they select an option, the correct answer is revealed.-->
        <!--Include an explanation of why it is the correct answer that displays whether they choose the correct answer or not.</p>-->

    <!--</div>-->

    <!--<div class="act2ques" data-quesno="act2ques2">-->

        <!--<img src="{% static 'pics/act2ques/mult2.png' %}" height="220" width="600">-->

        <!--<ol>-->
            <!--<li>Record the starting and ending locations of each car under the diagram. </li>-->
            <!--<input type="text" name="fname"><br>-->

             <!--<li>Calculate the distance traveled by the car.</li>-->
            <!--<input type="text" name="fname"><br>-->

            <!--<li>Calculate the amount of time the car traveled.</li>-->
            <!--<input type="text" name="fname"><br>-->

            <!--<li>Calculate the average speed for each trip.</li>-->
            <!--<input type="text" name="fname"><br>-->


        <!--</ol>-->

        <!--<p> Multiple choice question asking students to select the graph that best matches their work. Once they select an option, the correct answer is revealed.-->
        <!--Include an explanation of why it is the correct answer that displays whether they choose the correct answer or not.</p>-->

    <!--</div>-->

    <!--<div class="act2ques" data-quesno="act2ques3">-->

        <!--<img src="{% static 'pics/act2ques/mult3.png' %}" height="220" width="600">-->

        <!--<ol>-->
            <!--<li>Record the starting and ending locations of each car under the diagram. </li>-->
            <!--<input type="text" name="fname"><br>-->

             <!--<li>Calculate the distance traveled by the car.</li>-->
            <!--<input type="text" name="fname"><br>-->

            <!--<li>Calculate the amount of time the car traveled.</li>-->
            <!--<input type="text" name="fname"><br>-->


        <!--</ol>-->


        <!--<p> Multiple choice question asking students to select the graph that best matches their work. Once they select an option, the correct answer is revealed.-->
        <!--Include an explanation of why it is the correct answer that displays whether they choose the correct answer or not.</p>-->


    <!--</div>-->

    <!--<div class="act2ques" data-quesno="act2ques4">-->

        <!--<img src="{% static 'pics/act2ques/mult4.png' %}" height="220" width="600">-->

        <!--<ol>-->
            <!--<li>Record the starting and ending locations of each car under the diagram. </li>-->
            <!--<input type="text" name="fname"><br>-->

             <!--<li>Calculate the distance traveled by the car.</li>-->
            <!--<input type="text" name="fname"><br>-->

            <!--<li>Calculate the amount of time the car traveled.</li>-->
            <!--<input type="text" name="fname"><br>-->


        <!--</ol>-->

        <!--<p> Multiple choice question asking students to select the graph that best matches their work. Once they select an option, the correct answer is revealed.-->
        <!--Include an explanation of why it is the correct answer that displays whether they choose the correct answer or not.</p>-->


    <!--</div>-->



