<h1 id="21-constant-velocity">2.1 Constant Velocity</h1>
<h2 id="activity-1--how-fast">Activity 1- How Fast?</h2>
<h3 id="pre-lab-discussion1">Pre-lab discussion</h3>
<ol>
    <li>
        <a class="video" data-id="1">Observe a moving object</a>, (ex, toy car, remote operated toy, or even a video clip of an object moving). Ask yourself, “How do you know this object is moving?”
        <a class="activity-button video" data-id="1"></a>
    </li>
    <li>Share some of your ideas with a partner. Then share some of your ideas with the whole class the the Chat
        function and brainstorm.
    </li>
    <li>Now watch the battery operated vehicle run on the floor or table. How could we figure out this toy car’s
        speed?
    </li>
    <li>Conduct a <a class="brainstorm" data-title="brainstorm1" data-id="1">brainstorm.</a> and record their ideas at the front of the room.
        <!-- These (.activity-button) should be added dynamically when the page is loaded -->
        <a class="activity-button brainstorm" data-id="1"></a>
    </li>
    <li>Conduct a class brainstorm and upload your picture in the gallery.</li>
    <li>Take a picture. </li>
    <li>
        <a href="#" class="gallery" data-id="1">Visit the Gallery.</a>
        <a href="#" class="activity-button gallery" data-id="1"></a>
    </li>
</ol>

<h3 id="pre-lab-discussion2">Apparatus:</h3>
<ul>
    <li>Toy battery powered car that travels at constant speed
        (alternatively have someone walk at a roughly constant pace)
    </li>
    <li>Stopwatch</li>
    <li>Meter stick</li>
    <li>Masking tape or whiteboard markers</li>
    <li>Copies of 2.1 Act 1 How Fast worksheet</li>
</ul>