
<h2>Lab</h2>
<h3>In Person</h3>
<ol>

    <li>Using the materials at hand, your task is to devise a method of determining how fast your car moves as confidently as possible.
        Create your plan on the large whiteboard. <a href="#" class="" data-id="2">More Information</a>
        <a class="activity-button moreinfo" data-id="2" ></a>—what measurements do you need to take? What units will you use?
        Do you plan to take more than one set of data?


    </li>
</ol>
<h3>Digital</h3>
<ol>
    <li>Carry out your plan from question 1 and record your data below <a href="#" class="" data-id="2">Table/Graph</a>.
        <a class="activity-button table" data-id="2" ></a>
        Remember to organize this data <a class="" data-id="1">More Information</a> and add units as necessary to report back to the
        rest of the class.
    </li>
    <li>
        Take a picture of the whiteboard and post it to our gallery.
        <a href="#" class="gallery" data-id="2" data-view="group">Visit the Gallery.</a>
        <a href="#" class="activity-button gallery" data-id="2" data-view="group" ></a>
    </li>
    <li>Do a digital gallery walk and compare your results with the members of other groups.</li>

</ol>

<a href="/pgChange/page1">Back page</a>
<a href="/pgChange/page3">Next page</a>
