<h1>Graph</h1>

<div class="center-container">
    <input type="hidden" name="table-id" value=""/>
    <ul id="graphSources">
        <li class="table">
            <table class="tableInput" id="TimeDistance">
                <tr>
                    <th></th>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                </tr>
                <tr class="x-row">
                    <th>X</th>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                </tr>
                <tr class="y-row">
                    <th>Y</th>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                </tr>
                <tr class="clear-row">
                    <th></th>
                    <td><a class="clear"></a></td>
                    <td><a class="clear"></a></td>
                    <td><a class="clear"></a></td>
                    <td><a class="clear"></a></td>
                    <td><a class="clear"></a></td>
                </tr>
            </table>
            <a id="plot_table" class="btn">Plot Line</a>
        </li>
    </ul>
</div>

<div class="center-container">
    
    <p id="message-container">
        To get started, enter points into the table above.
    </p>
    <div id="graph-container">
        <div id="graph"></div>
    </div>
</div>


</body>

