<h1>Graph</h1>
<h4>Please enter time and distance values:</h4>

<ul id="graphSources">
    <li class="table">
        <table class="tableInput" id="TimeDistance">
            <tr class="distances">
                <th>Distance</th>
                <td><input type="text"></td>
            </tr>
            <tr class="times">
                <th>Time</th>
                <td><input type="text"></td>
            </tr>
        </table>
        <a class="btn" id="addColumn">+</a>
        <a id="plot_table" class="btn floatRight">Plot</a>
    </li>
    <li class="equation">
        y = <input type="text" id="slope">x
        <a id="plot_equation" class="btn floatRight">Plot</a>
    </li>
</ul>

<div>
    
</div>

<div class="graph">
    <canvas id="time-distance-chart" width="500" height="300"></canvas>
</div>

</body>

