<!DOCTYPE html>
<html>
 <head>
        <style>
            .talk_moves_font
            {
                font-family:    Arial, Helvetica, sans-serif;
                font-size:      15px;

            }
        </style>
    </head>
<body>

<!--https://docs.google.com/document/d/19KYgH544jfxfhFAomxNLnrlXV5xkhhOGBQ7FJndlaJY/edit-->
<div>
  <h2>Talk Moves</h2>
  <h3>I Agree and Why?</h3>
  <ul>
    <li>I agree with your answer, because ..</li>
    <li>I think your answer is right, because .. </li>
    <li>I got the same answer because you and I both .. </li>
  </ul>

  <h2>I Disagree and Why?</h2>
  <ul>
    <li>That's a good point, but .. </li>
    <li>I disagree with your idea of ..., and I think ..</li>
    <li>I disagree with your reasoning ..., and I think ..</li>
  </ul>

  <h2>Add On</h2>
  <ul>
    <li>I think you are right, but I also think...</li>
    <li>That's a great idea, but don't you think..</li>
    <li>I agree with.. When they said... But I also want to add ..</li>
  </ul>

  <h2>Ask a Probing Question</h2>
  <ul>
    <li>What made you think that?</li>
    <li>How did you get that answer?</li>
    <li>What is your evidence?</li>
  </ul>

  <h2>Ask a Clarifying Question</h2>
  <ul>
    <li>What do you mean by ..?</li>
    <li>So you are saying...</li>
    <li>Can you say more about..</li>
  </ul>


</div>


</body>
</html>