<!DOCTYPE html>
<html>
 <head>
        <style>
            .talk_moves_font
            {
                font-family:    Arial, Helvetica, sans-serif;
                font-size:      15px;

            }
        </style>
    </head>
<body>

<!--https://docs.google.com/document/d/19KYgH544jfxfhFAomxNLnrlXV5xkhhOGBQ7FJndlaJY/edit-->
<div>
  <h1>Talk Moves</h1>
  <h4>Ask a Question</h4>
  <ul style="margin-top:-20px">
    <li>I’m confused about... </li>
    <li>What do you mean by...?</li>
    <li>Why did you...instead of...?</li>
  </ul>

  <h4>Give some Feedback</h4>
  <ul style="margin-top:-20px">
    <li>I think your answer is right/wrong, because... </li>
    <li>I agree/disagree with your idea of ..., and I think .. </li>
    <li>You mentioned..., I think that this point is important, because…</li>
  </ul>

  <h4>Explain your thinking</h4>
  <ul style="margin-top:-20px">
    <li>If I compare your answer to my answer, I think... </li>
    <li>I think...because... </li>
    <li>To explain what I mean, this is an example,...</li>
    <li>You did… but another way to do it is...</li>
  </ul>


</div>


</body>
</html>