<h1>Teacher Dashboard</h1>

<div id="activity-index">
    <h4>Dashboard</h4>
        <ul>
            <li data-page="1"><a href="#">Introduction</a></li>
            <li data-page="2"><a href="#">Create A Model</a></li>
            <li data-page="3"><a href="#">Comment on Other Models</a></li>
        </ul>

        <ul>
            <li class="gallery" data-page="3"><span></span>Gallery Upload</li>
            <li class="gallery" data-page="3"><span></span>Gallery Discussion</li>
            <li class="moreinfo" data-page="3"><span></span>Talk Moves</li>
        </ul>

</div>